*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
body{
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  font-weight: 400;
}
img{
  max-width: 100%;
}

.container{
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header{
  width: 100%;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}
.nav-list{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.list-li{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.list-li *{
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}
.account-li *{
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

/* PRODUCTS */
.products-section{
  padding: 3rem 0;
}
.heading-1{
  font-weight: 700;
  font-size: 2rem;
}
.products{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.products-head{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
select{
  background-color: hsl(0, 0%, 95%);
  outline: none;
  padding: 0.2rem 0.3rem;
  font-weight: 600;
}
.item{
  width: 200px;
  margin-bottom: 2rem;
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}
.item-image-div{
  position: relative;
}
.item-image{
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.item-price{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: hsl(0, 0%, 0%);
  display: inline;
  color: hsl(0, 0%, 100%);
  padding: 0.2rem 0.5rem;
  border-radius: 0.1rem;
  font-weight: 600;
}
.item-details{
  padding: 0.5rem 0.5rem;
}
.item-name{
  font-size: 1rem;
}
.item-description{
  display: none;
}

/* Single Item */
.product-section{
  padding: 2rem 0;
}
.heading-2{
  text-align: center;
  margin-bottom: 1rem;
}
.single-items{
  margin-top: 1rem;
}
.single-item{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.single-item-image-div{
  width: auto;
  
}
.single-item-image{
  max-width: 300px;
  object-fit: contain;
  aspect-ratio: 1;
}
.single-item-details{
  width: 55%;
}
.single-item-name{
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.single-item-price{
  background-color: hsl(0, 0%, 0%);
  display: inline;
  color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem 0.5rem;
  font-weight: 600;
}
.single-item-description{
  margin: 1rem 0 1rem 0;
}
.single-item-buttons{
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: 2px solid hsl(0, 0%, 0%); */
  padding: 0 0.3rem;
}
.quantity{
  font-size: 1.4rem;
  font-weight: 500;
}
.single-item-buttons button{
  background-color: transparent;
  border: none;
  display: inline;
  font-size: 1.8rem;
  padding: 0 0.8rem;
  background-color: hsl(0, 0%, 85%);
  border-radius: 0.3rem;
  cursor: pointer;
}
.back-btn{
  color: hsl(0, 0%, 0%);
  font-weight: 500;
}
/* Single Item Sizes */
.single-item-sizes{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.single-item-sizes span{
  background-color: hsl(0, 0%, 100%);
  padding: 0 0.5rem;
  border-radius: 100%;
}
.single-item-sizes span:hover{
  background-color: hsl(0, 0%, 0%);
  color: #fff;
}
.single-item-sizes span.active{
  background-color: hsl(0, 0%, 0%);
  color: #fff;
}

/* Cart Items */
.cart-items-section{
  padding: 2rem 0;
}
.cart-items{
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cart-item{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.5rem 0;
  border-bottom: 2px solid hsl(0, 0%, 90%);
}
.cart-item-image{
  width: 70px;
  object-fit: contain;
  aspect-ratio: 1;
}
.cart-item-details{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 70%;
}
.cart-item-buttons{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.cart-item-price{
  background-color: hsl(0, 0%, 10%);
  color: #fff;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  font-weight: 400;
}
.cart-item-qty-buttons{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cart-item-quantity{
  font-size: 1rem;
}
.cart-item-qty-buttons button{
  background-color: hsl(0, 0%, 85%);
  color: #000;
  border: none;
  padding: 0 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 0.3rem;
}
.cart-item-delete{
  justify-self: flex-end;
  border: none;
  background-color: hsl(0, 64%, 41%);
  color: #fff;
  font-weight: 400;
  padding: 0.2rem 0.4rem;
  border-radius: 50%;
  cursor: pointer;
}

.footer{
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  padding: 0.6rem 0;
  /* position: fixed;
  bottom: 0; */
}
.flex-wrapper {
  display: flex;
  min-height: 92vh;
  flex-direction: column;
  justify-content: space-between;
}

.footer div{
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.footer div a{
  color: #fff;
  font-weight: 500;
}